<table>
  <tr>
    <th>bitbucket</th>
    <th>email</th>
    <th>experience</th>
    <th>github</th>
    <th>gitlab</th>
    <th>name</th>
    <th>upwork</th>
  </tr>
  <tr *ngFor="let resource of resources">
    <td>{{ resource?.bitbucket }}</td>
    <td>{{ resource?.email }}</td>
    <td>{{ resource?.experience }}</td>
    <td>{{ resource?.github }}</td>
    <td>{{ resource?.gitlab }}</td>
    <td>{{ resource?.name }}</td>
    <td>{{ resource?.upwork }}</td>
    <div class="btn-group">
      <button
        class="btn btn-sm btn-edit btn-white mr-0 editbtn-margin"
        [routerLink]="['/resource/']"
      >
        Edit
      </button>
      <button
        class="btn btn-sm btn-edit btn-white mr-0 editbtn-margin"
        (click)="clickDelete(resource)"
      >
        Delete
      </button>
    </div>
  </tr>
</table>
