<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div
    class="dropzone"
    dropZone
    (hovered)="toggleHover($event)"
    (dropped)="startUpload($event)"
    [class.hovering]="isHovering"
  >
    <p>Drag and Drop a File</p>
    <div class="file">
      <label class="file-label">
        <input
          class="file-input"
          type="file"
          (change)="startUpload($event.target.files)"
        />

        <span class="file-cta">
          <span class="file-icon">
            <i class="fa fa-upload"></i>
          </span>
        </span>
      </label>
    </div>
  </div>
  <input
    type="text"
    class="form-control mb-1"
    placeholder="Type here"
    (input)="namechanged($event.target.value)"
  />

  <div *ngIf="(percentage | async) as pct">
    <progress class="progress is-info" [value]="pct" max="100"> </progress>

    {{ pct | number }}%
  </div>

  <div *ngIf="(downloadURL | async) as url">
    <h3>Results!</h3>
    <img [src]="url" /><br />
    <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
  </div>
  <hr />
</div>

<div class="modal-footer">
  <button (click)="save()">Save</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>

<!-- <button (click)="task.pause()" class="button is-warning">
  Pause
</button>
<button (click)="task.cancel()" class="button is-danger">
  Cancel
</button>
<button
  (click)="task.resume()"
  class="button is-info"
  [disabled]="!(snap?.state === 'paused')"
>
  Resume
</button> -->
