<div class="login">
  <h2>Login Form</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="imgcontainer">
      <img [src]="avatar" alt="Avatar" class="avatar" />
    </div>

    <div class="container">
      <label for="email"><b>Username</b></label>
      <input
        type="email"
        placeholder="Enter Email"
        formControlName="email"
        required
      />

      <label for="password"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        formControlName="password"
        required
      />

      <button type="submit" [disabled]="!loginForm.valid" class="submit">
        Login
      </button>
    </div>

    <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
  </form>
</div>
