<table>
  <tr>
    <th>Project Name</th>
    <th>Description</th>
    <th>client</th>
    <th>Email</th>
    <th>Start Date</th>
  </tr>
  <tr *ngFor="let project of projects">
    <td>{{ project?.projectName }}</td>
    <td>{{ project?.description }}</td>
    <td>{{ project?.clientName }}</td>
    <td>{{ project?.email }}</td>
    <td>{{ project?.startDate.seconds * 1000 | date }}</td>

    <div class="btn-group">
      <button
        class="btn btn-sm btn-edit btn-white mr-0 editbtn-margin"
        [routerLink]="['/resource/']"
      >
        Edit
      </button>
      <button
        class="btn btn-sm btn-edit btn-white mr-0 editbtn-margin"
        (click)="clickDelete(resource)"
      >
        Delete
      </button>
      <button
        class="btn btn-sm btn-edit btn-white mr-0 editbtn-margin"
        [routerLink]="['/projects/detail/' + project?.projectId]"
        style="background-color:blue"
      >
        View more
      </button>
    </div>
  </tr>
</table>
