table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* .btn-group button {
  background-color: #4caf50; 
  border: 1px solid green;
  color: white; 
  padding: 10px 24px;
  cursor: pointer; 
  width: 50%;
  display: block; 
}

.btn-group button:not(:last-child) {
  border-bottom: none; 
}


.btn-group button:hover {
  background-color: #3e8e41;
} */
