<h3>Project details</h3>
<table>
  <tr>
    <th>ProjectName</th>
    <th>ClientName</th>
    <th>Country</th>
    <th>email</th>
    <th>skypeId</th>
    <th>startDate</th>
  </tr>
  <tr>
    <td>{{ projectdata?.projectName }}</td>
    <td>{{ projectdata?.clientName }}</td>
    <td>{{ projectdata?.country }}</td>
    <td>{{ projectdata?.email }}</td>
    <td>{{ projectdata?.skypeId }}</td>
    <td>{{ projectdata?.startDate | date }}</td>
  </tr>
</table>

<hr />
<h4>Allocated Resource details</h4>
<table>
  <tr>
    <th>Sl. No</th>
    <th>name</th>
    <th>Cost Per Hour</th>
    <th>hours</th>
    <th>Allocation From</th>

    <th>Allocation To</th>
  </tr>
  <tr *ngFor="let resource of projectResourcedata; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ resource.name }}</td>
    <td>{{ resource.costPerHour }}</td>
    <td>{{ resource.hours }}</td>

    <td>
      {{ resource.allocationStart | date }}
    </td>
    <td>
      {{ resource.allocationEnd | date }}
    </td>
    <button
      class="btn btn-info"
      value=""
      data-toggle="modal"
      data-target="#resources"
      (click)="editResourcePopup(resource.id, template)"
    >
      Edit
    </button>
    <button class="btn btn-danger" (click)="removeAllocation(resource)">
      Remove
    </button>
  </tr>
</table>

<button
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#resources"
  (click)="clearAndPatch(template)"
>
  Allocate new Recources
</button>
<hr />
<h5>Documents</h5>
<div class="table-border">
  <table>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>link</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let doc of projectDocuments; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ doc.name }}</td>
      <td>
        <a
          href="{{ doc.url }}"
          target="_blank"
          style="color: green;"
          download="image.jpg"
          >Download</a
        >
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteLink(doc)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
<div style="margin-top:10px">
  <button class="btn btn-primary" (click)="uploadDoc(projectdata.projectId)">
    Upload New Document
  </button>
  <button
    class="btn btn-primary"
    style="float: right;margin-right: 10px"
    (click)="goBack()"
  >
    Back
  </button>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Allocate new Resource</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="onSubmitAllocation()">
      <div class="modal-body">
        <div class="form-group" *ngIf="!isEdit">
          <label for="resource">Select Resource:</label>
          <select
            class="form-control"
            formControlName="resourceId"
            (click)="onChangeResource($event.target.value)"
          >
            <option
              *ngFor="let resource of projectResourceList"
              value="{{ resource.resourceId }}"
            >
              {{ resource.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="costPerHour">Cost Per Hour:</label>
          <input
            type="number"
            class="form-control"
            id="costPerHour"
            placeholder="Cost Per Hour"
            formControlName="costPerHour"
          />
        </div>
        <div class="form-group">
          <label for="hours">Hours:</label>
          <input
            type="number"
            class="form-control"
            id="hours"
            placeholder="No of hours"
            formControlName="hours"
          />
        </div>
        <div class="form-group">
          <label for="hours">Allocated from:</label>
          <input
            type="date"
            class="form-control"
            id="hours"
            placeholder="No of hours"
            formControlName="allocationStart"
          />
        </div>
        <div class="form-group">
          <label for="hours">Allocated to:</label>
          <input
            type="date"
            class="form-control"
            id="hours"
            placeholder="No of hours"
            formControlName="allocationEnd"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          <span *ngIf="!isEdit">Allocate</span>
          <span *ngIf="isEdit">Update Allocaton</span>
        </button>
        <button
          type="button"
          class="btn btn-danger "
          (click)="bsModalRef.hide()"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- modal Allocate Resources -->
<!-- <div class="modal fade" id="resources" role="dialog">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Resource</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmitAllocation()">
        <div class="modal-body">
          <div class="form-group" *ngIf="!isEdit">
            <label for="resource">Select Resource:</label>
            <select
              class="form-control"
              formControlName="resourceId"
              (click)="onChangeResource($event.target.value)"
            >
              <option
                *ngFor="let resource of projectResourceList"
                value="{{ resource.resourceId }}"
              >
                {{ resource.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="costPerHour">Cost Per Hour:</label>
            <input
              type="number"
              class="form-control"
              id="costPerHour"
              placeholder="Cost Per Hour"
              formControlName="costPerHour"
            />
          </div>
          <div class="form-group">
            <label for="hours">Hours:</label>
            <input
              type="number"
              class="form-control"
              id="hours"
              placeholder="No of hours"
              formControlName="hours"
            />
          </div>
          <div class="form-group">
            <label for="hours">Allocated from:</label>
            <input
              type="date"
              class="form-control"
              id="hours"
              placeholder="No of hours"
              formControlName="allocationStart"
            />
          </div>
          <div class="form-group">
            <label for="hours">Allocated to:</label>
            <input
              type="date"
              class="form-control"
              id="hours"
              placeholder="No of hours"
              formControlName="allocationEnd"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            <span *ngIf="!isEdit">Allocate</span>
            <span *ngIf="isEdit">Update Allocaton</span>
          </button>
          <button type="button" class="btn btn-danger " data-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
