table,
th,
td {
  padding: 10px;
}

hr {
  border-width: 5px;
}
h3,
h4 {
  text-align: center;
}
.label-location {
  background-color: #eeeeee;
  padding: 2px 7px;
  border-radius: 11px;
  line-height: 18px;
  text-transform: capitalize;
}
